@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
  }

  main {
    flex: 1 0 auto;
  }

  .brand-logo{
    margin-left: 10px;
  }

  /* ------- Index page hero image ------ */

.top-container {
  height: 80vh;
  width: 100%;
  background-image: url("/static/images/library.jpg");
  background-size:     cover;                     
  background-repeat:   no-repeat;
  background-position: center center; 


  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

#book_info_card{
-webkit-box-shadow: -2px 2px 4px 3px rgba(0,0,0,0.3); 
box-shadow: -2px 2px 4px 3px rgba(0,0,0,0.3);
}

#book_image{
  max-height: 350px;
  min-height: 250px;
  
}

#lable_for_book_image_file{
  margin-left: 40px;
}

.row-top-margin{
  margin-top: 20px;
}

.index-card{
  border-radius: 10px;
}

.social-icon{
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

/*styling star rating*/
.rating{
	border: none;
	float: left;
}

.rating > input{
	display: none;
}

.rating > label:before{
	content: '\f005';
	font-family: FontAwesome;
	margin: 5px;
	font-size: 1.5rem;
	display: inline-block;
	cursor: pointer;
}

.rating > .half:before{
	content: '\f089';
	position: absolute;
	cursor: pointer;
}


.rating > label{
	color: #ddd;
	float: right;
	cursor: pointer;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover, 
.rating:not(:checked) > label:hover ~ label{
	color: #FDCC0D;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label{
	color: #FDCC0D;
}