{% extends "base.html" %}
{% block content %}
<div class="card-panel">
   <form method="POST" action="{{ url_for('add_book')}}" enctype="multipart/form-data">

      <div class="row">

         <div class="col s12 m8 offset-m2">
            <h4 class="center-align">Add Book Information</h4>
            <p class="center-align">Here you can add summary of the book here which helps others </p>
         </div>

         <div class="input-field col s12 m8 offset-m2">
            <i class="fas fa-book prefix light-blue-text text-darken-4"></i>
            <input id="book_name" name="book_name" type="text" class="validate" minlength="5" maxlength="100" required>
            <label for="book_name">Book Name</label>
         </div>

         <div class="input-field col s12 m8 offset-m2">
            <i class="fas fa-user prefix light-blue-text text-darken-4"></i>
            <input id="book_author" name="book_author" type="text" class="validate" minlength="5" maxlength="100"
               required>
            <label for="book_author">Author</label>
         </div>

         <div class="input-field col s12 m8 offset-m2">
            <i class="fas fa-image prefix light-blue-text text-darken-4"></i>
            <input id="book_image_url" name="book_image_url" type="text" class="validate" required>
            <label for="book_image_url">Book Image URL</label>
         </div>

         <div class="input-field col s12 m8 offset-m2">
            <i class="fas fa-globe prefix light-blue-text text-darken-4"></i>
            <select name="book_language">
               <option value="" disabled selected>Choose your option</option>
               {% for language in languages %}
               <option value="{{language.language}}">{{language.language}}</option>
               {% endfor %}
            </select>
            <label>Language</label>
         </div>

         <div class="input-field col s12 m8 offset-m2">
            <i class="fas fa-cogs prefix light-blue-text text-darken-4"></i>
            <select name="book_category">
               <option value="" disabled selected>Choose your option</option>
               {% for category in categories %}
               <option value="{{category.category}}">{{category.category}}</option>
               {% endfor %}
            </select>
            <label>Choose Categories</label>
         </div>

         <div class="input-field col s12 m8 offset-m2">
            <i class="fas fa-user-shield prefix light-blue-text text-darken-4"></i>
            <select name="book_age_group">
               <option value="" disabled selected>Choose your option</option>
               {% for age_group in age_groups %}
               <option value="{{age_group.age_group}}">{{age_group.age_group}}</option>
               {% endfor %}
            </select>
            <label>Choose Age Group</label>
         </div>

         <div class="input-field col s12 m8 offset-m2">
            <i class="fas fa-sticky-note prefix light-blue-text text-darken-4"></i>
            <textarea name="book_summary" id="book_summary" class="materialize-textarea" required></textarea>
            <label for="book_summery">Book Summery</label>
         </div>

         <div class="input-field col s12 m8 offset-m2">
            <i class="fas fa-shopping-cart prefix light-blue-text text-darken-4"></i>
            <input id="book_shopping_link" name="book_shopping_link" type="text" class="validate" required>
            <label for="book_shopping_link">Enter Book Buying URL</label>
         </div>

         {% if is_admin %}
         <div class="input-field col s12 m8 offset-m2">
            <!-- Switch -->
            <div class="switch">
               <i class="fas fa-thumbs-up prefix light-blue-text text-darken-4"></i>
               <label for="is_featured">
                  <input type="checkbox" id="is_featured" name="is_featured">
                  <span class="lever"></span>
                  Is Feature?
               </label>
            </div>
         </div>
         {% endif %}
         <div class="col s12 m8 offset-m2 center-align add-book-btn-div">
            <button type="submit" class=" btn-large light-blue text-darken-4 text-shadow">Add Book <i
                  class="fas fa-plus"></i></button>
         </div>
      </div>
   </form>
</div>
{% endblock %}