{% extends "base.html" %}
{% block content %}

<div class="row">
  <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('add_book')}}">
    <div class="card-panel">
      <h4 class="center-align">Add Book Information</h4>
<p class="center-align">Here you can add summary of the book here which helps others </p>
      <div class="row">
        <div class="input-field col s12">
          <i class="fas fa-book prefix light-blue-text text-darken-4"></i>
          <input id="book_name" name="book_name" type="text" class="validate" pattern="^[a-zA-Z0-9]{5,100}$"
            minlength="5" maxlength="100" required>
          <label for="book_name">Book Name</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="fas fa-user prefix light-blue-text text-darken-4"></i>
          <input id="book_author" name="book_author" type="text" class="validate" pattern="^[a-zA-Z0-9]{5,100}$"
            minlength="5" maxlength="100" required>
          <label for="book_author">Author</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="fas fa-file-image prefix light-blue-text text-darken-4"></i>
          <input id="book_image" name="book_image" type="file" accept="image/png, image/gif, image/jpeg, image/jpg" class="validate" required>
        </div>
      </div>

      <div class="row">
        
        <div class="input-field col s12">
          <i class="fas fa-globe prefix light-blue-text text-darken-4"></i>
          <select>
            <option value="" disabled selected>Choose your option</option>
            {% for language in languages %}
                <option value="{{language.language}}">{{language.language}}</option>
             {% endfor %}
          </select>
          <label>Language</label>
        </div>
      </div>

      <div class="row">
      <div class="input-field col s12">
        <select multiple>
          <option value="" disabled selected>Choose your option</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
        <label>Materialize Multiple Select</label>
      </div>
    </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="fas fa-at prefix light-blue-text text-darken-4"></i>
          <input id="user_email" name="user_email" type="email" class="validate" minlength="5" maxlength="50" required>
          <label for="user_email">Email</label>

        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="fas fa-user-lock prefix light-blue-text text-darken-4"></i>
          <input id="user_password" name="user_password" type="password" class="validate" pattern="^[a-zA-Z0-9]{5,15}$"
            minlength="5" maxlength="15" required>
          <label for="user_password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="fas fa-user-lock prefix light-blue-text text-darken-4"></i>
          <input id="user_password_confirm" name="user_password_confirm" type="password" class="validate"
            pattern="^[a-zA-Z0-9]{5,15}$" minlength="5" maxlength="15" required>
          <label for="user_password_confirm">Confirm Password</label>
        </div>
      </div>
      <div class="row">
        <button type="submit" class="col s4 offset-s4 btn-large light-blue text-darken-4 text-shadow">Register <i
            class="fas fa-sign-in-alt"></i></button>
      </div>
      <div class="row">
        <div class="col s12">
          <p class="center-align">
            Already Registered? <a href="{{ url_for('sign_in')}}" class="light-blue-text text-darken-4">Sign In</a>
          </p>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}