{% extends "base.html" %}
{% block content %}
{% if book.added_by_user == session["username"] %}
<div class="row row-top-margin">
  <div class="col s12 right-align">
    <a class="waves-effect waves-light blue btn" href="{{url_for('edit_book_id', book_id=book._id)}}">Edit Book <i class="fas fa-edit"></i></a>
  </div>
</div>
{% endif%}
<div class="row row-top-margin valign-wrapper">
    <div class="col s10 offset-s1 m3 offset-m1">
        <img src="{{book.image_url}}">
    </div>
    <div class="col s10 offset-s1 m9 left-align">
        <h3><span class="card-title black-text">{{book.name}}</span></h3>
        <p><strong>Author: </strong>{{book.author}}</p>
        <p><strong>Language: </strong>{{book.language}}</p>
        <a href="{{book.shopping_link}}" target="_blank"><i class="fas fa-shopping-cart fa-2x"></i></a>
        <hr class="solid">
        <h6><strong>Summary</strong> </h6>
        <p>{{book.summary}}</p>
        <hr class="solid">
        <h6><strong>Other Information</strong></h6>
        <p><strong>Age: </strong>{{book.age_group}}</p>
        <p><strong>Category: </strong>{{book.category}}</p>
    </div>
  </div>
  <hr class="solid">
  {% if is_user_logged %}
  <form action="">
  <div class="row">
    <div class="col s12">
        
          <fieldset class="rating">
            <input type="radio" id="star5" name="star_rating" value="5"/><label for="star5" class="full" title="Awesome"></label>
            <input type="radio" id="star4.5" name="star_rating" value="4.5"/><label for="star4.5" class="half"></label>
            <input type="radio" id="star4" name="star_rating" value="4"/><label for="star4" class="full"></label>
            <input type="radio" id="star3.5" name="star_rating" value="3.5"/><label for="star3.5" class="half"></label>
            <input type="radio" id="star3" name="star_rating" value="3"/><label for="star3" class="full"></label>
            <input type="radio" id="star2.5" name="star_rating" value="2.5"/><label for="star2.5" class="half"></label>
            <input type="radio" id="star2" name="star_rating" value="2"/><label for="star2" class="full"></label>
            <input type="radio" id="star1.5" name="star_rating" value="1.5"/><label for="star1.5" class="half"></label>
            <input type="radio" id="star1" name="star_rating" value="1"/><label for="star1" class="full"></label>
            <input type="radio" id="star0.5" name="star_rating" value="0.5"/><label for="star0.5" class="half"></label>
          </fieldset>
          
      </div>
      
    </div>
    <div class="row">
      <div class="col">
        <h6 id="rating_value"></h6>
      </div>
    </div>
    
    <div class="row">
      <div class="input-field col s12">
        <textarea id="review_text_area" class="materialize-textarea"></textarea>
        <label for="review_text_area">Write Your Review</label>
      </div>
    </div>
  </form>
    {% else%}
    <div class="row">
      <div class="col">
        <p> <a href="{{url_for('sign_in')}}">Sign in</a>  to register your review for the book</p>
      </div>
    </div>
    {% endif %}

{% endblock %}