{% extends "base.html" %}
{% block content %}
{% if book.added_by_user == session["username"] %}
<div class="row row-top-margin">
  <div class="col s12 right-align">
    <a class="waves-effect waves-light blue btn" href="{{url_for('edit_book_id', book_id=book._id)}}">Edit Book <i class="fas fa-edit"></i></a>
  </div>
</div>
{% endif%}
<div class="row row-top-margin valign-wrapper">
    <div class="col s10 offset-s1 m3 offset-m1">
        <img src="{{book.image_url}}">
    </div>
    <div class="col s10 offset-s1 m9 left-align">
        <h3><span class="card-title black-text">{{book.name}}</span></h3>
        <p><strong>Author: </strong>{{book.author}}</p>
        <p><strong>Language: </strong>{{book.language}}</p>
        <a href="{{book.shopping_link}}" target="_blank"><i class="fas fa-shopping-cart fa-2x"></i></a>
        <hr class="solid">
        <h6><strong>Summary</strong> </h6>
        <p>{{book.summary}}</p>
        <hr class="solid">
        <h6><strong>Other Information</strong></h6>
        <p><strong>Age: </strong>{{book.age_group}}</p>
        <p><strong>Category: </strong>{{book.category}}</p>
    </div>
  </div>
  <hr class="solid">
  <div class="row">
    <div class="col s12">
        {% if session["username"] %}
        <form action="">
            {% for i in range(5)%}
            <input type="radio" id="review_stars-{{i}}" name="rating" value="5">
            
          {% endfor %}
        </form>
        {% else%}
        <p>Sign in to register your review for the book</p>
        {% endif %}
    </div>
    
  </div>
{% endblock %}