{% extends "base.html" %}
{% block content %}
<div class="row row-top-margin">
   <form class="col s12 m8 offset-m2" method="POST" action="{{url_for('delete_category')}}">
      <div class="card-panel">
         <h4 class="center-align">Delete Category</h4>
         <div class="row">
            <div class="input-field col s12">
               <i class="fas fa-cogs prefix light-blue-text text-darken-4"></i>
               <select name="cateogry-to-delete">
                <option value="" disabled selected>Choose your option</option>
                {% for category in categories %}
                <option value="{{category._id}}">{{category.category}}</option>
                {% endfor %}
             </select>
               <label for="cateogry-to-delete">Delete Category</label>
            </div>
         </div>
         <div class="row">
            <button type="submit" class="col s4 offset-s4 btn-large red darken-2 text-darken-4 text-shadow">Delete Category </button>
         </div>
      </div>
   </form>
</div>
{% endblock %}