{% extends "base.html" %}
{% block content %}

<div class="row">
  <form class="col s12 m8 offset-m2" action="{{url_for('edit_book')}}">
    <div class="card-panel">
      <h4 class="center-align">Select Book To Edit</h4>

      <div class="row"> 
        <div class="input-field col s12">
            <i class="fas fa-book prefix light-blue-text text-darken-4"></i>
          <select name="book_name">
            <option value="" disabled selected>Choose your option</option>
            {% for book in books %}
                <option value="{{book.name}}">{{book.name}}</option>
             {% endfor %}
          </select>
          <label>Select Book</label>
        </div>
      </div>

      <div class="row">
        <button type="submit" class="col s4 offset-s4 btn-large light-blue text-darken-4 text-shadow">Edit Selected Book <i class="fas fa-hand-pointer"></i></button>
      </div>
      
    </div>
  </form>
</div>
{% endblock %}