{% extends "base.html" %}
{% block content %}
<!--Hero image with main middle text-->
<div class="top-container">
    <div class="row">
        <div class="col s12 m10 offset-m1">
          <div class="card blue accent-1 index-card">
            <div class="card-content white-text">
              <span class="card-title center-align">Welcome to ReadWise</span>
              <p>Explore books, read reviews of the books and add reviews books you read to help others</p>
            </div>
            {% if not is_user_logged %}
            <div class="card-action center-align">
                <a class="waves-effect waves-light btn" href="{{url_for('register')}}">Register</a>
                <p>
                    Already Registered? <a href="{{ url_for('sign_in')}}" class="light-blue-text text-darken-4">Sign In</a>
                  </p>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
</div>
<div class="row">
  <div class="col">
    <h3>Featured Books</h3>
  </div>
</div>

{% if featured_books.count() > 0 %}
  <div class="row">
    {% for featured_book in featured_books %}
    <div class="col s12 m3">
      
      <div class="card center-align">
        <a href="{{url_for('book_detail', book_id=featured_book._id)}}">
        <div class="card-image">

          <img id="book_image" src="{{featured_book.image_url}}">
          
        </div>
        <div class="card-content">
          <span class="card-title black-text">{{featured_book.name}}</span>
          {% if featured_book.avg_review == null %}
          <p class="grey-text"> No reviews yet</p>
          {% else %}
          {% for i in range(5)%}
              {% if featured_book.avg_review > i %}
              <i id="stars-{{i}}" class="fas fa-star"></i>
              {% else%}
              <i id="stars-{{i}}" class="far fa-star"></i>
              {% endif %}
          {% endfor %}
          {% endif %}
          
        </div>
        
      </a>
      </div>
     
    </div>
    {% endfor %}
  </div>
{% else %} 
  <h4 class="red-text test-darken-4 center-align">No featured books available currently</h4>
  <h5 class="red-text test-darken-4 center-align"><a href="{{url_for('all_books')}}">Click Here</a> to see all books</h5>
{% endif %}  
{% endblock %}

