{% extends "base.html" %}
{% block content %}
<!--Hero image with main middle text-->
<div class="top-container">
    <div class="row">
        <div class="col s12">
            <section class="text-center background-header p-3 p-md-5">
                <h1 class="main-header">Welcome To Spicy <img id="logo-img-header" src="./assets/images/logo-white.png" alt="Logo Image" /> Dhaba</h1>
                <h4 class="main-header mb-4">Enjoy Dhaba Taste In Norway</h4>
                <a href="book-table.html"><button class="btn btn-success btn-lg">Book Table</button></a>
                <h4 class="sub-header mt-3">For take away call us 67 777 878</h4>
            </section>
        </div>
    </div>
</div>
{% endblock %}

