{% extends "base.html" %}
{% block content %}
<div class="row row-top-margin">
  <div class="col s12 m6 offset-m3 center-align">
      <h3>Welcome {{session.username}}</h3>
      <h6>Here you can add categories and add new languages. </h6>
  </div>
</div>
<div class="row row-top-margin">
    <div class="col s12 m3 offset-m3 center-align">
      <a class="waves-effect waves-light blue btn-large" href="{{url_for('add_category')}}">Add Category <i class="fas fa-cogs prefix white-text "></i></a>
    </div>
    <div class="col s12 m3 center-align">
      <a class="waves-effect waves-light blue btn-large"  href="{{url_for('add_language')}}">Add Language <i class="fas fa-globe prefix white-text "></i></a>
        
      </div>
      
  </div>
{% endblock %}