{% extends "base.html" %}
{% block content %}
  <div class="row row-top-margin">
    <div class="col s12 m6 offset-m3 center-align">
      <h3>Welcome {{session.username}}</h3>

    </div>
  </div>
  {% if is_admin %}

    <div class="row">
      <div class="col s12 m6  l5 offset-l1">
        <div class="card blue darken-1">
          <div class="card-content white-text">
            <span class="card-title center-align">Category</span>
              <p class="center-align">Here you can add or delete category</p> 
          </div>
          <div class="card-action center-align">
            <a class="waves-effect waves-light btn-small" href="{{url_for('add_category')}}">Add Category</a>
            <a class="waves-effect waves-light red btn-small delete-btn-admin" href="{{url_for('delete_category')}}">Delete Category</a>
          </div>
        </div>
      </div>

      <div class="col s12 m6 l5">
        <div class="card blue darken-1">
          <div class="card-content white-text">
            <span class="card-title center-align">Language</span>
            <p class="center-align">Here you can add or delete language</p>
          </div>
          <div class="card-action center-align">
            <a class="waves-effect waves-light btn-small" href="{{url_for('add_language')}}">Add Language </a>
            <a class="waves-effect waves-light red btn-small delete-btn-admin" href="{{url_for('delete_language')}}">Delete Language</a>
          </div>
        </div>
      </div>
    </div>

  {% endif %}
    <div class="row">
      <div class="col">
        {% if is_admin %}
          <h5 class="blue-text">All Books</h5>
        {% else %}
        <h5 class="blue-text">Books Added By You </h5>
        {% endif %}
      </div>
    </div>
  {% if books_list | length > 0%}
    <div class="row">
      {% for book in books_list %}
        {% if is_admin or book.added_by_user == session["username"] %}
          <div class="col s12 m3">
              <div class="card book-card-profile center-align">
                  
                      <div class="card-image">
                          <img class="book-card-image" alt="book cover image" src="{{book.image_url}}" />
                      </div>
                      
                      <div class="card-content">
                          <h6 class="card-title black-text book-name">{{book.name}}</h6>
                      </div>
                      <div class="card-action">
                        <a class="waves-effect waves-light blue btn" href="{{url_for('edit_book_id', book_id=book._id)}}">Edit</a>
                        <a class="waves-effect waves-light red btn delete-btn modal-trigger" href="#delete-modal-{{book._id}}">Delete</a>
                      </div>
              </div>
          </div>

          <!-- Delete Modal -->
    <div id="delete-modal-{{book._id}}" class="modal">
      <div class="modal-content">
        <h5>Delete Book</h5>
        <p >Are you sure you want to delete "<snap class="red-text" >{{book.name}}</snap>"?</p>
      </div>
      <div class="modal-footer">
        <a href="{{url_for('delete_book', book_id=book._id)}}" class="modal-close waves-effect waves-green btn-flat">Confirm</a>
        <a href="#" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
      </div>
    </div>
        {% endif %}  
      {% endfor %}
    </div>
  {% else %}
    <h5 class="center-align">No books added by you</h5>
    <h5 class="center-align"><a href="{{url_for('add_book')}}">Click Here</a> to add your first book</h5>
  {% endif %}

{% endblock %}