{% extends "base.html" %}
{% block content %}
<div class="row row-top-margin">
    <div class="col s12 m4 offset-m1">
      <div class="card blue lighten-2 ">
        <div class="card-content white-text">
          <span class="card-title center-align">Category</span>
          <p class="center-align">Add, Edit or Delete category</p>
        </div>
        <div class="card-action center-align">
          <a href="{{url_for(add_category)}}">Add Category</a>
          <a href="{{url_for(delete_category)}}">Delete Category</a>
        </div>
      </div>
    </div>
    <div class="col s12 m4 offset-m1">
        <div class="card blue lighten-2 ">
          <div class="card-content white-text">
            <span class="card-title center-align">Language</span>
            <p class="center-align">Add, Edit or Delete language</p>
          </div>
          <div class="card-action center-align">
            <a href="{{url_for(add_language)}}">Add Language</a>
            <a href="{{url_for(delete_language)}}">Delete Language</a>
          </div>
        </div>
      </div>
      
  </div>
{% endblock %}